        html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        table {
            width: 100vw;
            height: 100vh;
            table-layout: fixed;
            border-collapse: collapse;
        }

        td {
            text-align: center;
            vertical-align: middle;
            font-size: 2vw;
        }

        .left {
            background-color: #b7c97c;
        }

        .right {
            background-color: #f4b6a6;
        }