body {
    background-color: pink;
    text-align: center;
}

h1 {
    color: white;
}

.img-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  max-width: 1000px;
  margin: 0 auto;
}

.shop{
  display: block;
  text-decoration: none;
  text-align: center;
}

.shop img{
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

