:root {
    --bg-main: #05070d;
    --bg-section: #0b1220;
    --blue: #3fa9f5;
    --text-main: #eaeaea;
    --text-muted: #8faecf;
    --border: #1e2a3a;
}



html {
    scroll-behavior: smooth;
}



body {
    margin: 0;
    background: var(--bg-main);
    color: var(--text-main);
    font-family: 'Space Grotesk', sans-serif;
}

#contact a {
    text-decoration: none;
    color: white;
}

#contact a:hover {
    color: #3fa9f5;


}

.navbar {
    margin-top: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: transparent;
}

.nav-links a {
    position: relative;
    margin-left: 40px;
    text-decoration: none;
    color: var(--text-main);
    font-size: 16px;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: var(--blue);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

#me {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-img {
    width: 280px;
    border-radius: 20%;
    opacity: 0;
    animation: fadeUp 1.2s ease forwards;
    box-shadow: 0 0 40px rgba(63, 169, 245, 0.3);
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#me h1 {
    font-size: 64px;
    margin-top: 40px;
}

#me p {
    color: var(--text-muted);
}

section {
    padding: 120px 15%;
    background: var(--bg-section);
    border-top: 1px solid var(--border);
}

h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: var(--blue);
}

.skill-section {
    margin-bottom: 80px;
}

.skill-section h3 {
    font-size: 28px;
    margin-bottom: 25px;
    color: var(--text-main);
    border-left: 4px solid var(--blue);
    padding-left: 15px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
}

.skill-card {
    border: 1px solid var(--border);
    padding: 30px;
    text-align: center;
    transition: 0.3s;
}

.skill-card:hover {
    border-color: var(--blue);
    box-shadow: 0 0 15px rgba(63, 169, 245, 0.4);
}

.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project-card {
    background: #060c18;
    border: 1px solid var(--border);
    overflow: hidden;
    transition: 0.4s;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    filter: grayscale(30%);
}

.project-card:hover {
    transform: translateY(-10px);
    border-color: var(--blue);
    box-shadow: 0 10px 30px rgba(63, 169, 245, 0.25);
}

.project-content {
    padding: 25px;
}

.project-content h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.project-content p {
    color: var(--text-muted);
    margin-bottom: 10px;
}

.project-content span {
    font-size: 14px;
    color: var(--blue);
}

.fade-in {
    opacity: 0;
    animation: sectionFade 1s ease forwards;
}

.fade-in:nth-of-type(1) {
    animation-delay: 0.2s;
}

.fade-in:nth-of-type(2) {
    animation-delay: 0.4s;
}

.fade-in:nth-of-type(3) {
    animation-delay: 0.6s;
}

.fade-in:nth-of-type(4) {
    animation-delay: 0.8s;
}

@keyframes sectionFade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}